<h1>Bob's Burgers</h1>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <div id="left">
                <h2>Eat Da Burger:</h2>

                <ul>
                    {{#each burgers}} {{#unless this.devoured}}
                    <li>
                        {{this.burger_name}}

                        <form action="/{{this.id}}" method="POST">
                            <input type="hidden" name="devoured">
                            <button class="btn btn-danger" type="submit">Eat Da Burger</button>
                        </form>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <img src="/public/assets/img/juicyburger.jpg">
        </div>


        <div class="col-3 d-flex justify-content-center">
            <div id="right">
                <h2>Burgers That Have Been Devoured: </h2>

                <ul>
                    {{#each burgers}} {{#if this.devoured}}
                    <li>
                        {{this.burger_name}}

                        <form action="/remove/{{this.id}}" method="POST">
                            <input type="hidden" name="devoured">
                            <button class="btn btn-danger" type="submit">Remove Burger!</button>
                        </form>
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="center">
    <h2>Add a Burger!</h2>

    <form class="create-update-form" method="POST"> 
        <div class="form-group">
            <textarea name="burger_name" rows="2" cols="50" placeholder="'Eggers Cant Be Cheesers Burger (with fried egg & cheese)'"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Burger!</button>
    </form>
</div>